<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DevBlog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2 m-3">
      <h1>DevBlog</h1>
      <nav class="navbar m-3">
        <a href="/">
          <button class="nav-item">Home</button>
        </a>
        {{#if logged_in}}
        <a href="/dashboard">
          <button class="nav-item">Dashboard</button>
        </a>
        <button class="nav-item" id="logout">Logout</button>
        {{else}}
        <a href="/login">
          <button class="nav-item">Login</button>
        </a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
