<div class="text-center">
  <div class="card1">
    <h2 class="card-title">{{title}}</h2>    
    <p class="card-text">Created by {{user.username}} on {{format_date date_created}}</p>
    <hr >
    <p class="card-text">{{text}}</p>
  </div>
  <button class="submit-btn">Comment</button>
</div>
